@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
      --background: 51.43 28% 70.59%;
      --foreground: 51.43 5% 10%;
      --card: 51.43 30% 75%;
      --card-foreground: 51.43 5% 15%;
      --popover: 51.43 100% 95%;
      --popover-foreground: 51.43 100% 10%;
      --primary: 51.43 8% 28%;
      --primary-foreground: 0 0% 100%;
      --secondary: 51.43 30% 75%;
      --secondary-foreground: 0 0% 0%;
      --muted: 184 44% 86%;
      --muted-foreground: 51.43 5% 40%;
      --accent: 154 40% 70%;
      --accent-foreground: 51.43 5% 15%;
      --destructive: 0 60% 45%;
      --destructive-foreground: 51.43 5% 90%;
      --border: 51.43 30% 75%;
      --input: 51.43 30% 50%;
      --ring: 51.43 8% 28%;
      --radius: 0.75rem;
    }

    .dark {
      --background: 51 16% 5%;
      --foreground: 51 5% 90%;
      --card: 51 16% 3%;
      --card-foreground: 51 5% 90%;
      --popover: 51 16% 5%;
      --popover-foreground: 51 5% 90%;
      --primary: 51 8% 28%;
      --primary-foreground: 0 0% 100%;
      --secondary: 51 16% 10%;
      --secondary-foreground: 0 0% 100%;
      --muted: 13 16% 15%;
      --muted-foreground: 51 5% 60%;
      --accent: 13 16% 15%;
      --accent-foreground: 51 5% 90%;
      --destructive: 0 50% 30%;
      --destructive-foreground: 51 5% 90%;
      --border: 51 20% 18%;
      --input: 51 20% 18%;
      --ring: 51 8% 28%;
      --radius: 0.3rem;
    }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .scrollbar-none{
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

}
